@page "/"

<PageTitle>Web Chat</PageTitle>

<h1>WebChat</h1>

<p>The time on the server is @DateTime.Now</p>
<div style= "border-style: inset; border-color: red; width: 50%">
    <!--Ist nicht sicher für Production Standard muss ein Token verwendet werden-->
    <iframe src='https://webchat.botframework.com/embed/sauter-svc-bot?s=f3EJOCFcd2E.BHzMndsnixpvDtprXaGteiIC59yZSapNnt4ID85004E'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>

@code {
    
}