@page "/webchat"

<h3>WebChat</h3>

<p>The time on the server is @DateTime.Now</p>
<div style= "border-style: inset; border-color: red; width: 50%">
    
    <iframe src='https://webchat.botframework.com/embed/sauter-svc-chatbot?s=k6_otYOhD8k.vPXA7hPdb2wSlv-V8QbQg04kQTP6DJasIzQoUvY0iek'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>

@code {

}
