@page "/webchat"

<h3>WebChat</h3>

<p>The time on the server is @DateTime.Now</p>
<div style= "border-style: inset; border-color: red; width: 50%">
    <! -- Ist nicht sicher für Production Standard muss ein Token verwendet werden -->
    <iframe src='https://webchat.botframework.com/embed/SauterBot-handle?s=HMdrJfcKwpU.isIihtJDPFHwN3kDZLbMOZEX-ORbjrzLSXBX7x5iniI' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>

</div>

@code {

}
